"Name","Assettag","Serialnumber","Manufacturer","Model","Platform","Site","Location","Tenant"
{% for device in queryset %}{{ device.id }},{{ device.name }},{{ device.asset_tag }},{{ device.serial }},{{ device.device_type.manufacturer }},{{ device.device_type.model }},{{ device.platform.slug }},{{ device.site }},{{ device.location.display }},{{ device.tenant.name }},{{ device.primary_ip4.address }}
{% endfor %}
